 body { /* Define as regras gerais para todo o corpo da página */
  color: white;                                /*define cor da fonte*/
  background-color: black;                     /*define a cor do fundo*/
  margin: 0px;                                 /*define a margem dos itens para todos os lados*/ /*zera o espaço proxímo a margem da página*/
  font-family: "Chakra Petch", sans-serif;       /*define ou  altera a fonte do texto*/
  margin-bottom: 1000px; /*ajustar a margem inferior da página, deslocando para baixo*/
}
header { /* Estiliza o cabeçalho*/
  border-bottom:solid 2px rgb(42, 122, 228); /* Linha azul embaixo */
  padding: 20px;  /* Espaço interno de 20px */
  font-size: 32px; /* Texto grande */
  color: rgb(42, 122, 228);  /* Texto azul */
}
.chamada { /* Estilo da seção principal chamada */
  background: rgb(184, 156, 213); /* cor de fundo como um tom de roxo claro */
  padding-bottom: 80px; /* Espaço embaixo do conteúdo */
  padding-top: 80px; /* Espaço em cima do conteúdo */
  display: flex; /* Organiza os itens dentro em linha */
  justify-content: center; /* Centraliza os itens na horizontal */
}
.chamada-texte { /* Estilo da caixa de texto dentro da chamada */
  margin-right: 5%;  /* Espaço do lado direito */
}
h1 { /* Estilo dos títulos principais */
  font-size: 40px; /* Tamanho grande para o título */
}
p { /* Estilo dos parágrafos (texto normal) */
  font-size: 20px; /* Tamanho médio para o texto */
}
.categoria-videos { /* Container que organiza os vídeos em linha */
  display: flex;  /* Coloca os vídeos um ao lado do outro */
  overflow-x: auto;
  gap: 10px; /* Espaço de 10 pixels entre cada vídeo */
}
.categoria { /* Cada seção de categoria de vídeos */
  padding-left: 20px; /* Espaço de 20 pixels na esquerda */
  padding-right: 20px; /* Espaço de 20 pixels na direita */
  margin-top: 50px; /* Espaço de 50 pixels acima da categoria */
}
.categoria-video img { /* Define o estilo das imagens dos vídeos */
  opacity: 0.5; /* Deixa a imagem semi-transparente (50% de opacidade) */
  border: 3px solid green; /* Coloca uma borda verde de 3 pixels */
}
.categoria h2 { /* Define o estilo do título da categoria */
  color: rgb(42, 122, 228);  /* Cor azul para o texto do título */
}
