body { 
  color: white;                                /*define cor da fonte*/
  background-color: black;                     /*define a cor do fundo*/
  margin: 0px;                                 /*define a margem dos itens para todos os lados*/ /*zera o espaço proxímo a margem da página*/
  font-family: "Chakra Petch", sans-serif;       /*define ou  altera a fonte do texto*/
  margin-bottom: 1000px; /*ajustar a margem inferior da página, deslocando para baixo*/
}
header {
  border-bottom:solid 2px rgb(42, 122, 228);
  padding: 20px;
  font-size: 32px;
  color: rgb(42, 122, 228);
}
.chamada { /* Estilo da seção principal chamada */
  background: rgb(184, 156, 213); /* cor de fundo como um tom de roxo claro */
  padding-bottom: 80px; /* Espaço embaixo do conteúdo */
  padding-top: 80px; /* Espaço em cima do conteúdo */
  display: flex; /* Organiza os itens dentro em linha */
  justify-content: center; /* Centraliza os itens na horizontal */
}
.chamada-texte { /* Estilo da caixa de texto dentro da chamada */
  margin-right: 5%;  /* Espaço do lado direito */
}
h1 { /* Estilo dos títulos principais */
  font-size: 40px; /* Tamanho grande para o título */
}
p { /* Estilo dos parágrafos (texto normal) */
  font-size: 20px; /* Tamanho médio para o texto */
}
.categoria-videos {
  display: flex;
  overflow-x: auto;
  gap: 10px;
}
.categoria {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 50px;
}
.categoria-video img {
  opacity: 0.5;
  border: 3px solid green;
}
.categoria h2 {
  color: rgb(42, 122, 228);
}